<mat-card class="example-card margin-0-auto vertical-center">
   <mat-card-header>
   </mat-card-header>
   <form class="row contact_form" [formGroup]="loginUserForm" (ngSubmit)="loginUser(loginUserForm)">
   <mat-card-content class="example-full-width padding-15px">
        <div style="width: 100%;margin: 0 auto;"><img src="{{ baseUrl+'images/Travelwhistle.png' }}" alt="AdminLTE Logo" style="width: 180px; padding-bottom: 20px; display: block; margin: 0 auto;"></div>
        <table class="example-full-width margin-top-10px" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput id="email" placeholder="Enter email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="f.email.errors" class="invalid-feedback ">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is not valid</div>
                        </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12 custom-error" *ngIf="errors"> 
                        {{ errors.email }} 
                    </div>
                    <div class="col-md-12 custom-error" *ngIf="errors"> 
                        {{ errors.message }} 
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" id="password" name="password" value="" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                         <mat-error *ngIf="f.password.errors" class="invalid-feedback ">
                            <div *ngIf="f.password.errors.required">password is required</div>
                        </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12 custom-error" *ngIf="errors"> 
                        {{ errors.password }} 
                    </div>
                </td>
            </tr>
        </table>
       <button mat-raised-button type="submit" color="primary" class="margin-top-20px">Login</button>      
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   <mat-card-actions class="example-full-width">
    <a [routerLink]="'/register'" style="float:right">Don't have an account</a>
   </mat-card-actions>
   </form>
 </mat-card>