<mat-drawer-container class="side-nav" autosize [hasBackdrop]="1==1" ngClass="{'side-nav': drawer}">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <div style="width: 100%;padding-left: 20px;"><img src="{{ baseUrl+'images/Travelwhistle.png' }}" alt="AdminLTE Logo" style="padding-bottom: 20px; display: block;"></div>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(3);" routerLink="/" [ngClass]="{'active': viewType == 3}"> <mat-icon matListIcon>schedule</mat-icon> <h4 matLine>Schedule</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(2);" routerLink="/home" [ngClass]="{'active': viewType == 2}"> <mat-icon matListIcon>view_day</mat-icon> <h4 matLine>Day</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(1);" routerLink="/home" [ngClass]="{'active': viewType == 1}"> <mat-icon matListIcon>view_week</mat-icon> <h4 matLine>Week</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(0);" routerLink="/home" [ngClass]="{'active': viewType == 0}"> <mat-icon matListIcon>view_module</mat-icon> <h4 matLine>Month</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <!--<mat-list-item (click)="logout($event)"> <mat-icon matListIcon>power_settings_new</mat-icon> <h4 matLine>Logout</h4> </mat-list-item><mat-divider></mat-divider>-->
        </mat-list>
		<mat-card class="margin-0-auto login-text-card" style="background:none;box-shadow:none">
			<mat-card-content class="example-full-width padding-15px">
				<span><b>Contact Us</b><br><b>Email -</b> <a href="mailto:apps@socialwebology.com">apps@socialwebology.com</a></span><br>
				<span><a href="https://www.travelwhistle.com/terms-of-use/" target="_blank">Terms of Use</a></span><br>
				<span><b>Follow Us</b></span>
				<div class="social-icons">
				<span style="width: 100%;margin: 0 auto;"><a target="_blank" href="https://www.facebook.com/travelwhistle"><img src="{{ baseUrl+'images/facebook.png' }}" alt="Facebook Logo" style="width: 30px; padding-bottom: 20px; display: inline; margin: 0 10px 0 0;"></a></span>
				<span style="width: 100%;margin: 0 auto;"><a target="_blank" href="https://www.twitter.com/travelwhistle"><img src="{{ baseUrl+'images/twitter.png' }}" alt="Twitter Logo" style="width: 30px; padding-bottom: 20px; display: inline; margin: 0 10px 0 0;"></a></span>
				<span style="width: 100%;margin: 0 auto;"><a target="_blank" href="https://www.instagram.com/travelwhistle"><img src="{{ baseUrl+'images/instagram.png' }}" alt="Instagram Logo" style="width: 30px; padding-bottom: 20px; display: inline; margin: 0 10px 0 0;"></a></span>
				</div>
			</mat-card-content>
		</mat-card>
    </mat-drawer>
	
    <mat-toolbar *ngIf="globals.isUserLoggedInLoggedIn">
        <mat-toolbar-row>
            <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="margin-left: 20px" class="header-title">Calander App</span>
            <mat-form-field class="header-date-picker">
                <input matInput class="uppercase" [formControl]="selectedDateFormControl" [matDatepicker]="picker" (click)="picker.open()" (dateChange)="dateChange()">
                <button mat-icon-button matSuffix (click)="picker.open()">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon margin-right-20px cursor-pointer" aria-hidden="false" aria-label="Example delete icon" (click)="currentDateSelect()">today</mat-icon>
            <mat-icon class="example-icon margin-right-10px cursor-pointer" aria-hidden="false" aria-label="Example delete icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="min-width-160px" (click)="editProfile()"><mat-icon matListIcon>perm_identity</mat-icon> Profile</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="logout($event)"><mat-icon matListIcon>power_settings_new</mat-icon> Logout</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet #child></router-outlet>
</mat-drawer-container>
