<mat-drawer-container class="side-nav" autosize [hasBackdrop]="1==1" ngClass="{'side-nav': drawer}">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <h3 class="side-nav-title">Calander App</h3>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(3);" routerLink="/schedule" [ngClass]="{'active': viewType == 3}"> <mat-icon matListIcon>schedule</mat-icon> <h4 matLine>Schedule</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(2);" routerLink="/" [ngClass]="{'active': viewType == 2}"> <mat-icon matListIcon>view_day</mat-icon> <h4 matLine>Day</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(1);" routerLink="/" [ngClass]="{'active': viewType == 1}"> <mat-icon matListIcon>view_week</mat-icon> <h4 matLine>Week</h4> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="drawer.toggle();setViewType(0);" routerLink="/" [ngClass]="{'active': viewType == 0}"> <mat-icon matListIcon>view_module</mat-icon> <h4 matLine>Month</h4> </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>

    <mat-toolbar *ngIf="globals.isUserLoggedInLoggedIn">
        <mat-toolbar-row>
            <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="margin-left: 20px">Calander App</span>
            <mat-form-field class="header-date-picker">
                <input matInput class="uppercase" [formControl]="selectedDateFormControl" [matDatepicker]="picker" (click)="picker.open()" (dateChange)="dateChange()">
                <button mat-icon-button matSuffix (click)="picker.open()">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon margin-right-20px cursor-pointer" aria-hidden="false" aria-label="Example delete icon" (click)="currentDateSelect()">today</mat-icon>
            <mat-icon class="example-icon margin-right-10px" aria-hidden="false" aria-label="Example delete icon">more_vert</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet #child></router-outlet>
</mat-drawer-container>
