.tometo {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #ff6347 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #ff6347 !important;
			}
		}
	}
}
.default {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #0000FF !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #0000FF !important;
			}
		}
	}
}
.tangerine {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #f28500 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #f28500 !important;
			}
		}
	}
}
.banana {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #ffe135 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #ffe135 !important;
			}
		}
	}
}
.basil {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #579229 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #579229 !important;
			}
		}
	}
}
.sage {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #77815c !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #77815c !important;
			}
		}
	}
}
.peacock {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #33A1C9 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #33A1C9 !important;
			}
		}
	}
}
.blueberry {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #4f86f7 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #4f86f7 !important;
			}
		}
	}
}
.lavander {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #b57edc !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #b57edc !important;
			}
		}
	}
}
.grapes {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #6f2da8 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #6f2da8 !important;
			}
		}
	}
}
.flamingo {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color:  #fc8eac !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color:  #fc8eac !important;
			}
		}
	}
}
.graphite {
	::ng-deep .mat-radio-label {
		.mat-radio-container {
			.mat-radio-outer-circle {
				border-color: #383428 !important;	
				border-width: 6px;
			}
			.mat-radio-inner-circle {
				border-width: 6px !important;
				background-color: #383428 !important;
			}
		}
	}
}
