<div class="example-full-width col-sm-12 " *ngIf="colors_data">
    <mat-label style="font-weight: 800;font-size:20px;">Choose Color</mat-label><br>
    <mat-radio-group class="example-radio-group" (change)="selectColor($event.value)" [(ngModel)]="color"><br>

        <mat-radio-button #refEl *ngFor="let color of colors_data" (change)="selectColor(color)" value="{{color.id}}" (ngInit)="redioInitialize(refEl, color)" class="custom-radio">{{color.name}}</mat-radio-button><br>
       <!--  <mat-radio-button value="tangerine" class="tangerine" >Tangerine</mat-radio-button><br>
        <mat-radio-button value="banana" class="banana">Banana</mat-radio-button><br>
        <mat-radio-button value="basil" class="basil">Basil</mat-radio-button><br>
        <mat-radio-button value="sage" class="sage">Sage</mat-radio-button><br>
        <mat-radio-button value="peacock" class="peacock">Peacock</mat-radio-button><br>
        <mat-radio-button value="blueberry" class="blueberry">Blueberry</mat-radio-button><br>
        <mat-radio-button value="lavander" class="lavander">Lavender</mat-radio-button><br>
        <mat-radio-button value="grape" class="grape">Grape</mat-radio-button><br>
        <mat-radio-button value="flamingo" class="flamingo">Flamingo</mat-radio-button><br>
        <mat-radio-button value="graphite" class="graphite">Graphite</mat-radio-button><br>
        <mat-radio-button value="default" class="default" >Default color</mat-radio-button><br> -->
    </mat-radio-group>
</div><br>