.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.icon-display{
    background-size: contain;
    background-position: center center;
    height: 38px;
    width: 17%;
    margin: 8px;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-display.close{
	    height: 15px;
    width: 8%;
    bottom: 21px;
    position: relative;
    right: 45%;
}

.custom-color{
	color: #fff;
	background-color: #22beb2;
	width: 100%;
}
.time-icon{
	height: 24px;
    width: 15%;
    float: left;
    top: 10px;
    position: relative;
}