<mat-card class="example-card" *ngIf="events_data">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{events_data.title}}</mat-card-title>
  </mat-card-header><br>
  <img mat-card-image src="{{img_url}}{{events_data.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      <b>Description</b> : {{events_data.description}}
    </p><br>
    <p>
      <b>Start Date & Time</b> : {{events_data.start_datetime}}
    </p><br>
    <p>
      <b>End Date & Time</b> : {{events_data.end_datetime}}
    </p><br>
    <p>
      <b>Categories</b> : {{selected_categories.toString()}}
    </p><br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="close()">CANCEL</button>
    <button *ngIf = "edit_flag" mat-button (click)= "editEvent($event)">EDIT</button>
  </mat-card-actions>
</mat-card>