.add_event_btn{
    
    position:fixed;
    bottom:18px;
    right:40px;
    display:block;
    z-index:99999;
    background-color:red
}
.add_event_btn:hover{
    text-decoration:none;
}
.add_sign {
    font-size:27px;
}

.full-height{
    height: calc(100vh - 64px);
    overflow: auto;
}