
<div class='app full-height'>

  <div class='app-calendar full-height' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="{{viewTypeFormat}}"
      defaultDate="{{selectedDateFormat}}"
      [header]="{
        left: '',
        center: '',
        right: ''
      }"
      height="parent"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      [displayEventTime]= "displayEventTime"
      (dateClick)="createEvent($event)"
      (eventClick)="getEventDetails($event)"
    ></full-calendar>
    <script-hack type="text/javascript" src="http://partner.travelwhistle.com/lead/travelform" agentEmail="whistletravel@gmail.com" displayType="package" featuredPackages="14,11,15"></script-hack>

  </div>


  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showmodel ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Event created on</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Event Start From : {{ date }}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  <!--<button mat-button mat-fab class="add_event_btn" (click)="createEvent($event)" title="Add Event"><i class="fa fa-plus add_sign" aria-hidden="true"></i></button>-->
  <button mat-button mat-fab class="add_event_btn" [matMenuTriggerFor]="menuEvent" title="Add Event"><i
          class="fa fa-plus add_sign" aria-hidden="true"></i></button>
  <mat-menu #menuEvent="matMenu">
    <button mat-menu-item (click)="createEvent($event)">
      <mat-icon>add_circle</mat-icon>
      <span>Add Event</span>
    </button>
    <button mat-menu-item (click)="eventFilter = 'admin';getAllEvents()">
      <mat-icon>flight_takeoff</mat-icon>
      <span>Trip Ideas</span>
    </button>
    <button mat-menu-item (click)="eventFilter = 'my';getAllEvents()">
      <mat-icon>person_pin</mat-icon>
      <span>My events</span>
    </button>
    <button mat-menu-item (click)="eventFilter = '';getAllEvents()">
      <mat-icon>group</mat-icon>
      <span>All events</span>
    </button>
  </mat-menu>
</div>
