
<div class='app'>

  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="{{viewTypeFormat}}"
      defaultDate="{{selectedDateFormat}}"
      [header]="{
        left: '',
        center: '',
        right: ''
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="createEvent($event)"
      (eventClick)="getEventDetails($event)"
    ></full-calendar>
  </div>


  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showmodel ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Event created on</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Event Start From : {{ date }}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  <button mat-button mat-fab class="add_event_btn" (click)="createEvent($event)" title="Add Event"><i class="fa fa-plus add_sign" aria-hidden="true"></i></button>
</div>
