<mat-card class="example-card margin-0-auto vertical-center">
   <mat-card-header>
   </mat-card-header>
   <form class="row contact_form" [formGroup]="createUserForm" (ngSubmit)="addUser(createUserForm)">
   <mat-card-content class="example-full-width padding-15px">
       <div style="width: 100%;margin: 0 auto;"><img src="{{ baseUrl+'images/Travelwhistle.png' }}" alt="AdminLTE Logo" style="width: 180px; padding-bottom: 20px; display: block; margin: 0 auto;"></div>
       <h4>Register</h4>
        <table class="example-full-width margin-top-10px" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput id="firstname" placeholder="Enter Firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors}" >
                        <mat-error *ngIf="f.firstname.errors" class="invalid-feedback ">
                            <div *ngIf="f.firstname.errors.required">firstname is required</div>
                        </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12 custom-error" *ngIf="errors"> 
                        {{ errors.firstname }} 
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput id="lastname" placeholder="Enter Lastname" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors}" >
                        <mat-error *ngIf="f.lastname.errors" class="invalid-feedback ">
                            <div *ngIf="f.lastname.errors.required">lastname is required</div>
                        </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12 custom-error" *ngIf="errors"> 
                        {{ errors.lastname }} 
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput id="email" placeholder="Enter email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" >
                        <mat-error *ngIf="f.email.errors" class="invalid-feedback ">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is not valid</div>
                            <div *ngIf="f.email.errors.isEmailUnique">Email is already taken</div>
                        </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12 custom-error" *ngIf="errors"> 
                        {{ errors.email }} 
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" id="password" name="password" value="" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                         <mat-error *ngIf="f.password.errors" class="invalid-feedback ">
                            <div *ngIf="f.password.errors.required">password is required</div>
                            <div *ngIf="f.password.errors.pattern">Password must contain uppercase, lowercase, digit and special characters(min length: 8).</div>
                        </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12 custom-error" *ngIf="errors"> 
                        {{ errors.password }} 
                    </div>
                </td>
            </tr>
        </table>
       <button mat-raised-button type="submit" color="primary" class="margin-top-20px">Register</button>      
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   <mat-card-actions class="example-full-width">
    <a [routerLink]="'/login'" style="float:right">login</a>
   </mat-card-actions>
   </form>
 </mat-card>