<h2 mat-dialog-title>Edit Event</h2>
<form [formGroup]="editEventForm" (ngSubmit)="editEvent(editEventForm)">
<mat-dialog-content >
    <mat-form-field class="example-full-width col-sm-12 ">
        <input matInput id="title" placeholder="Enter Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors}" [errorStateMatcher]="matcher">
        <mat-error *ngIf="f.title.errors" class="invalid-feedback ">
            <div *ngIf="f.title.errors.required">First Name is required</div>
        </mat-error>
    </mat-form-field>
    <div class="col-sm-12 custom-error" *ngIf="errros"> 
        {{ errros.title }} 
    </div>
    <mat-form-field class="example-full-width col-sm-12 ">
        <textarea matInput placeholder="Description" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors}" [errorStateMatcher]="matcher"></textarea>
        <mat-error *ngIf="f.description.errors" class="invalid-feedback ">
            <div *ngIf="f.description.errors.required">Description is required</div>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width  col-sm-6"(click)="picker.open()" >
  		<input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="start_date" placeholder="Choose Start Date" [ngClass]="{ 'is-invalid': submitted && f.start_date.errors}" [errorStateMatcher]="matcher" (dateChange)="endDateChange($event)">
  		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
		<mat-error *ngIf="f.start_date.errors" class="invalid-feedback ">
            <div *ngIf="f.start_date.errors.required">Start Date is required</div>
        </mat-error>
	</mat-form-field>
    <mat-form-field matInput class="example-full-width col-sm-6 ">	
   		<input matInput type="time" atp-time-picker placeholder="Choose Start Time" formControlName="start_time"  readonly="readonly"/>
   	</mat-form-field>
   	<mat-form-field class="example-full-width  col-sm-6">
  		<input matInput [min]="minDate" [max]="maxDate" (click)="end_picker.open()" formControlName="end_date" [matDatepicker]="end_picker" placeholder="Choose End Date" [ngClass]="{ 'is-invalid': submitted && f.end_time.errors}" [errorStateMatcher]="matcher">
  		<mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
		<mat-datepicker #end_picker></mat-datepicker>
		 <mat-error *ngIf="f.end_date.errors" class="invalid-feedback ">
            <div *ngIf="f.end_date.errors.required">End Date is required</div>
        </mat-error>
	</mat-form-field>
    <mat-form-field matInput class="example-full-width col-sm-6 ">	
   		<input matInput type="time" atp-time-picker placeholder="Choose End Time" formControlName="end_time" readonly="readonly"/>
   	</mat-form-field>
   	<mat-form-field class="example-full-width col-sm-6 ">
        <input matInput id="title" type="number" placeholder="Enter Contact Number" formControlName="contact_no" [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors}" [errorStateMatcher]="matcher">
        <mat-error *ngIf="f.contact_no.errors" class="invalid-feedback ">
            <div *ngIf="f.contact_no.errors.required">Contact Number is required</div>
        </mat-error>
    </mat-form-field>
    <input type="hidden" formControlName="color_id" value="">
    <div class="col-sm-12 custom-error" *ngIf="errros"> 
        {{ errros.contact_no }} 
    </div>
    <mat-form-field class="example-full-width col-sm-6 ">
        <input matInput id="color" placeholder="Choose Color"  [value]="editEventForm.get('color').value | titlecase " (click)="chooseColor($event)" formControlName="color" [ngClass]="{ 'is-invalid': submitted && f.color.errors}" [errorStateMatcher]="matcher" readonly="true">
         <mat-error *ngIf="f.color.errors" class="invalid-feedback ">
            <div *ngIf="f.color.errors.required">Color is required</div>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width col-sm-12 ">
        <mat-select formControlName="category" id="category" placeholder="Select Categories" multiple [ngClass]="{ 'is-invalid': submitted && f.category.errors}" >
          `<mat-option *ngFor="let categories of categories_data" [value]="categories.id">{{categories.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.category.errors" class="invalid-feedback ">
            <div *ngIf="f.category.errors.required">Category is required</div>
        </mat-error>
    </mat-form-field>
   	<div class="image-preview mb-3 col-sm-12" *ngIf="previewUrl">
        <img [src]="previewUrl" height="300" />                 
    </div>
   	<div class="example-full-width col-sm-12 form-group">
        <input type="file" name="event_image" formControlName="event_image" (change)="fileProgress($event)" />
    </div>
    <div class="mb-3" *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
    </div>
     <mat-error *ngIf="image_error" class="col-sm-12 invalid-feedback ">
       <div>Image must be in jpeg,jpg or png format</div>
    </mat-error>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
    <button mat-stroked-button (click)="closePopup($event)" class="mat-stroked-button" style="margin-right:10px;" >Close</button>
    <button mat-stroked-button class="mat-stroked-button mat-primary" type="submit" value="submit" >Save</button>
</mat-dialog-actions>
</form>